# Based on http://homepage.ntlworld.com./jonathan.deboynepollard/FGA/systemd-house-of-horror/tomcat.html

[Unit]
Description=Apache Tomcat Web Application Container (v7)
 
[Service]
User=tomcat7
Group=tomcat7
EnvironmentFile=/etc/default/tomcat7
SyslogIdentifier=tomcat7
PrivateDevices=true
ProtectSystem=true
ProtectHome=true
KillMode=none
ExecStart=/usr/bin/authbind ${JAVA_HOME}/bin/java \
  $JAVA_OPTS $CATALINA_OPTS \
  -classpath ${CLASSPATH} \
  -Dcatalina.base=${CATALINA_BASE} \
  -Dcatalina.home=${CATALINA_HOME} \
  -Djava.endorsed.dirs=${JAVA_ENDORSED_DIRS} \
  -Djava.io.tmpdir=${CATALINA_TMPDIR} \
  -Djava.util.logging.config.file=${CATALINA_BASE}/conf/logging.properties \
  -Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager \
  org.apache.catalina.startup.Bootstrap start

ExecStop=/usr/bin/env ${JAVA_HOME}/bin/java -classpath ${CLASSPATH} \
  -Dcatalina.base=${CATALINA_BASE} \
  -Dcatalina.home=${CATALINA_HOME} \
  org.apache.catalina.startup.Bootstrap stop
